<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>天天生鲜-{{ title }}</title>
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>
<body>
	<div class="header_con">
    <div class="header">
        <div class="welcome fl">欢迎来到天天生鲜!</div>
        <div class="fr">
            {% if request.session.user_name|default:'' != '' %}
             <div class="user_link fl">
                <a href="/user/info">欢迎您：{{request.session.user_name}}</a>
                <span>|</span>
                 <a href="/user/logout/">退出</a>
                <span>|</span>
                <a href="/user/info/">用户中心</a>
                <span>|</span>
                <a href="/cart/">我的购物车</a>
                <span>|</span>
                <a href="/user/order/">我的订单</a>
            </div>
            {% else %}
            <div class="login_btn fl">
                <a href="/user/login/">登录</a>
                <span>|</span>
                <a href="/user/register/">注册</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>

	<div class="search_bar clearfix">
		<a href="index.html" class="logo fl"><img src="/static/images/logo.png"></a>
		<div class="search_con fl">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>
		<div class="guest_cart fr">
			<a href="#" class="cart_name fl">我的购物车</a>
			<div class="goods_count fl">1</div>
		</div>
	</div>

	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>	
				<span></span>			
				<ul class="subnav">
					<li><a href="#" class="fruit">新鲜水果</a></li>
					<li><a href="#" class="seafood">海鲜水产</a></li>
					<li><a href="#" class="meet">猪牛羊肉</a></li>
					<li><a href="#" class="egg">禽类蛋品</a></li>
					<li><a href="#" class="vegetables">新鲜蔬菜</a></li>
					<li><a href="#" class="ice">速冻食品</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">新鲜水果</a>
	</div>

    <div class="main_wrap clearfix">
    <div class="l_wrap fl clearfix">
        <div class="new_goods">
            <h3>新品推荐</h3>
            <ul>
                {%for g in newgood%}
                <li>
                    <a href="/{{g.id}}"><img src="/static/{{g.gpic}}"></a>
                    <h4><a href="/{{g.id}}">{{g.gtitle}}</a></h4>
                    <div class="prize">￥{{g.gprice}}</div>
                </li>
                {%endfor%}
            </ul>
        </div>
    </div>

		<div class="r_wrap fr clearfix">

            <div class="sort_bar">
                <a href="/list{{typeid}}_1_1"
                   {%if sort == "1"%}
                class="active"
                {%endif%}
                >默认</a>
                <a href="/list{{typeid}}_1_2"
                   {%if sort == "2"%}
                class="active"
                {%endif%}
                >价格</a>
                <a href="/list{{typeid}}_1_3"
                   {%if sort == "3"%}
                class="active"
                {%endif%}
                >人气</a>
            </div>

			<ul class="goods_type_list clearfix">
                {%for g in goodList%}
                <li>
                <a href="/{{g.id}}"><img src="/static/{{g.gpic}}"></a>
                <h4><a href="/{{g.id}}">{{g.gtitle}}</a></h4>
                <div class="operate">
                    <span class="prize">￥{{g.gprice}}</span>
                    <span class="unit">{{g.gunit}}</span>
                    {% if request.session.user_name|default:'' != '' %}
                        <a href="javascript:;" id="{{ g.id }}" class="add_goods" title="加入购物车"></a>
                    {% else %}
                        <a href="/user/login/" class="add_goods" title="加入购物车"></a>
                    {% endif %}
                </div>
                </li>
                {%endfor%}
			</ul>

			<div class="pagenation">
                {% if goodList.has_previous %}
                <a href="/list{{typeid}}_{{goodList.previous_page_number}}_{{sort}}"><上一页</a>
                {% endif %}

                {%for pindex in pindexlist%}
                <!--如果选择的是当前页，则标记为活动样式-->
                {%if pindex == pageid%}
                <a href="#" class="active">{{pindex}}</a>
                {%else%}
                <a href="/list{{typeid}}_{{pindex}}_{{sort}}">{{pindex}}</a>
                {%endif%}
                {%endfor%}
                {% if goodList.has_next %}
                <a href="/list{{typeid}}_{{goodList.next_page_number}}_{{sort}}">下一页></a>
                {% endif %}
           </div>

		</div>
	</div>

	<div class="footer">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>		
		</div>
		<p>CopyRight © 2016 北京天天生鲜信息技术有限公司 All Rights Reserved</p>
		<p>电话：010-****888    京ICP备*******8号</p>
	</div>
	
</body>
</html>